[general]
model_name = ""

[paths]
annotations_file = ""
data_dir = ""

[training]
epochs = 
batch_size = 
learning_rate =
seed = 42 

[model]
n_modalities = 
dim_model = 
sequence_length = 

[model.encoder]
n_heads = 

# if we have three separate encoders, please initiate each one seperate
# The amount of encoders must match $n_modalities
[model.encoder.1]
feature_name = ""
feature_dim = 
data_dir = ${paths.data_dir}

[model.encoder.2]
feature_name = ""
feature_dim = 
data_dir = ${paths.data_dir}

[model.encoder.3]
feature_name = ""
feature_dim = 
data_dir = ${paths.data_dir}

[model.multimodal]
type = "cross"
n_heads = 16

[model.detection_layer]
use_std = False
